.box{
	width: 300px;
	height: 400px;
	border-radius: 50px;
	margin: 0px 2% 20px 0px;
	display: inline-block;
	vertical-align: bottom;
}

.box:hover{
	cursor: pointer;
	box-shadow: 5px 5px 10px 2px black;
}

.container{
	width: 100%;
	height: 400px;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}

.box-unit{
	text-align: center;
	font-size: 2em;
	color: white;
	vertical-align: bottom;
	font-variant: small-caps;
	font-family: 'Raleway', sans-serif;
}

.box-title{
	text-align: center;
	font-size: 2em;
	color: white;
	vertical-align: bottom;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

#unit-1{
	background-image: url(assets/toureiffel2.png);
}

#unit-2{
	background-image: url(assets/mudbox3.png);
}

#unit-3{
	background-image: url(assets/thinker3.png);
}

h1,h2{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	clear: both;
}

a, a:visited{
	color: navy;
	text-decoration: none;
}

a:hover{
	color: teal;
	cursor: pointer;	
}